@model IEnumerable<FribergCarRentals.Models.Booking>

@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Bokningar";
    var isAdmin = User.IsInRole("Admin");
}

<h1>Bokningar</h1>

@if (isAdmin)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Skapa ny bokning</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>Bil</th>
            <th>Kund</th>
            <th>Startdatum</th>
            <th>Slutdatum</th>
            <th>Åtgärder</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Car.Brand @item.Car.Model</td>
                <td>@item.Customer.FirstName @item.Customer.LastName</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
                <td>
                    @if (isAdmin)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a>
                        <text> | </text>
                    }

                    <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a>

                    @if (isAdmin)
                    {
                        <text> | </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
